VITE_SUPABASE_URL=https://cyvhvpalihzantbvrtjc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN5dmh2cGFsaWh6YW50YnZydGpjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEwMzU5OTcsImV4cCI6MjA4NjYxMTk5N30.p-qYlO0qymYv32EzLje9RICQdri4emTQp67PDJ_IVBI