VITE_SUPABASE_URL=https://kvlwkmappgpamigxoiwc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2bHdrbWFwcGdwYW1pZ3hvaXdjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyOTgzNDUsImV4cCI6MjA5NTg3NDM0NX0.XtOID0JN-go71FFHE5NzmJRyiaFnS3lYyH1yfLbQHOY
